/* Page Styling */
body {
    background-color: #f4f6f9;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Profile Card */
.card {
    background-color: white;
    width: 350px;

    /* Box Model */
    padding: 25px;            /* Inside spacing */
    border: 2px solid #ddd;   /* Card boundary */
    margin: 20px;             /* Space from page edges */

    border-radius: 12px;      /* Rounded corners */

    text-align: center;
}

/* Name Styling */
.card h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

/* Role Styling */
.role {
    color: #555;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/* Bio Styling */
.bio {
    font-size: 14px;
    line-height: 1.6;         /* Typography improvement */
    letter-spacing: 0.5px;
    color: #444;
    margin-bottom: 20px;
}

/* Button Styling */
.contact-btn {
    background-color: #1e88e5;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}

/* Hover Effect */
.contact-btn:hover {
    background-color: #961429;
}
