body{
    background-color: #deb8ad;
    padding: auto;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    border-color: brown;
}
h1 {
    text-align: center;
    color: darkblue;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.section1 {
    background-color: white;
    border: 2px solid #0077cc;
    padding: 20px;
    width: 400px;
    margin: 0 auto 30px auto;
    border-radius: 8px;
}
.div {
    margin-bottom: 15px;
    color:#0077cc;
}
.button{
    background-color: #0077cc;
    color: rgb(211, 128, 21);
}